h1{
    margin: 0 0 -15px;
}

h4{
    margin: 0;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "BIZ UDPGothic",
    Meiryo,
    sans-serif;
    color: #333333;
}

header{
    height: 60px;
    background: rgba(0,0,0,0.8);
    width: 100vw;
    width: auto;
    margin: 0; 
}

.header_wrapper{
    width: 1000px;
    max-width: 100%;
    padding: 10px;
    margin: 0 auto;
    
}

.logo_main{
    width: 200px;
    float: left;
}

.header_right{
    float: right;
}

.header_right ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-right: 10px;
}

.header_right li{
    margin: 5px 0;
    padding-left: 10px;
}

.header_right li:not(:last-child){
    border-right: 1px solid #fff;
    padding-right: 10px;
}

.header_right a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

.unfinished{
    opacity: 0.7;
    pointer-events: none;
}


main{
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    height: auto;
    min-height: 1000px;
}

.main_left{
    float: left;
}

.main_right{
    float: right;
    display: flex;
    justify-content: flex-end;
}

.exp_title{
    position: relative;
    padding: 5px 10px;
    margin-left: 10px;
    background: #d6d6d6;
}

.exp_content{
    position: absolute;
    top: 140px;
    right: 100px;
    display: none;
    background: #333333;
    color: #fff;
    padding: 10px;
}

.exp_title:hover{
    background: #333333;
    color: #fff;
    cursor: help;
}

.exp_title:hover + .exp_content{
    display: block;
}

.exp_content li{
    padding: 5px 0;
}

.attention span{
    color: #ff6666;
    font-weight: bold;
}

.instruction span{
    color: #00d026;
    font-weight: bold;
}

.instruction ol{
    padding: 0 0 0 20px;
    margin: 0;
}


.form_area{
    width: 1000px;
    max-width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}
        
.input-row{
    display: flex;
    width: 1200px;
    max-width: 100%;
    margin-bottom: 10px;
}
.form_box label{
    width: 25%;
}
.form_box p{
    color: #333333;
    text-align: center;
    font-weight: 700;
    margin-bottom: 0;
    letter-spacing: 5px;
}

input{
    width: 200px;
    max-width: 100%;
    padding: 5px;
    margin-right: 10px;
    height: 20px;
    font-size: 1rem;
}

input:hover{
    cursor: cell;
}

.error-message, .error-message2{
    font-size: 0.7rem;
    color: #ff6666;
    display: float;
}

.main_btn{
    border: none;
    border-radius: none;
    padding: 10px 40px;
    margin-right: 10px;
    transition: .4s;
}
.main_btn:hover{
    cursor: pointer;
}
.main_btn:active{
    position: relative;
    top: 5px;
}
.add_row{
    background: #666666;
    color: #fff;
}
.add_row:hover{
    background: #3c3c3c;
}
.gene_csv{
    background: #00d026;
    color: #fff;
}
.gene_csv:hover{
    background: #019a1d;
}
.center{
    text-align: center;
}
.delete-row-button {
    background: #FF6666;
    color: #fff;
    border: none;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
}
.delete-row-button:hover{
    background: #ff4242;
}
.delete-row-button:active{
    position: relative;
    top: 5px;
}

#inputRowsContainer .input-row:first-child .delete-row-button {
    display: none;
}

footer{
    width: 100%;
    margin: 0;
    padding: 10px;
    text-align: center;
}

.footer_logo{
    width: 100px;
    margin: 15px auto 0;
}
